[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sarge = "*"
dataclasses = "*"

[dev-packages]
epab = {editable = true, git = "https://github.com/etcher-be/epab.git", ref="master"}

[requires]
python_version = "3.6"
